<a href="https://colab.research.google.com/github/SethupathyRajan/data-science/blob/main/Ex1DescriptiveAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1. Descriptive Analysis \
1.Install dependencies

In [ ]:
!pip install kagglehub pandas numpy matplotlib seaborn scikit-learn

Requirement already satisfied: kagglehub in /usr/local/lib/python3.12/dist-packages (0.3.13)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.12/dist-packages (1.6.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.3.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.16.3)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2026.1.4)

In [ ]:
import kagglehub
import pandas as pd
from kagglehub import KaggleDatasetAdapter

#Load Dataset
file_path = "data.csv"

df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "shriyashjagtap/indian-personal-finance-and-spending-habits",
    file_path,
)

df.head()

/tmp/ipython-input-1952769660.py:8: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.1).
Downloading from https://www.kaggle.com/api/v1/datasets/download/shriyashjagtap/indian-personal-finance-and-spending-habits?dataset_version_number=1&file_name=data.csv...

100%|██████████| 8.23M/8.23M [00:00<00:00, 66.8MB/s]

,Income,Age,Dependents,Occupation,City_Tier,Rent,Loan_Repayment,Insurance,Groceries,Transport,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249636,49,0,Self_Employed,Tier_1,13391.174891,0.000000,2206.490129,6658.768341,2636.970696,...,6200.537192,11265.627707,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.596592,34,2,Retired,Tier_2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,...,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.605084,35,1,Student,Tier_3,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,...,7050.360422,13891.450624,1466.073984,473.549752,410.857129,459.965256,488.383423,7.290892,106.653597,138.542422
3,101455.600247,21,0,Self_Employed,Tier_3,15218.340037,6809.441427,4889.418087,14690.149363,7106.130005,...,16694.965136,31617.953615,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.283548,52,4,Professional,Tier_2,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,...,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Income                           20000 non-null  float64
 1   Age                              20000 non-null  int64
 2   Dependents                       20000 non-null  int64
 3   Occupation                       20000 non-null  object
 4   City_Tier                        20000 non-null  object
 5   Rent                             20000 non-null  float64
 6   Loan_Repayment                   20000 non-null  float64
 7   Insurance                        20000 non-null  float64
 8   Groceries                        20000 non-null  float64
 9   Transport                        20000 non-null  float64
 10  Eating_Out                       20000 non-null  float64
 11  Entertainment                    20000 non-null  float64
 12  Utilities                        20000 non-null  float64
 13  Healthcare                       20000 non-null  float64
 14  Education                        20000 non-null  float64
 15  Miscellaneous                    20000 non-null  float64
 16  Desired_Savings_Percentage       20000 non-null  float64
 17  Desired_Savings                  20000 non-null  float64
 18  Disposable_Income                20000 non-null  float64
 19  Potential_Savings_Groceries      20000 non-null  float64
 20  Potential_Savings_Transport      20000 non-null  float64
 21  Potential_Savings_Eating_Out     20000 non-null  float64
 22  Potential_Savings_Entertainment  20000 non-null  float64
 23  Potential_Savings_Utilities      20000 non-null  float64
 24  Potential_Savings_Healthcare     20000 non-null  float64
 25  Potential_Savings_Education      20000 non-null  float64
 26  Potential_Savings_Miscellaneous  20000 non-null  float64
dtypes: float64(23), int64(2), object(2)
memory usage: 4.1+ MB

In [ ]:
df.shape

(20000, 27)

In [ ]:
#Checking for null values
df.isnull().sum()

Income                             0
Age                                0
Dependents                         0
Occupation                         0
City_Tier                          0
Rent                               0
Loan_Repayment                     0
Insurance                          0
Groceries                          0
Transport                          0
Eating_Out                         0
Entertainment                      0
Utilities                          0
Healthcare                         0
Education                          0
Miscellaneous                      0
Desired_Savings_Percentage         0
Desired_Savings                    0
Disposable_Income                  0
Potential_Savings_Groceries        0
Potential_Savings_Transport        0
Potential_Savings_Eating_Out       0
Potential_Savings_Entertainment    0
Potential_Savings_Utilities        0
Potential_Savings_Healthcare       0
Potential_Savings_Education        0
Potential_Savings_Miscellaneous    0
dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
#Selecting numerical datatypes
num_df = df.select_dtypes(include=['int64', 'float64'])
num_df = num_df.drop(columns=['Age'])
num_df.head()

,Income,Dependents,Rent,Loan_Repayment,Insurance,Groceries,Transport,Eating_Out,Entertainment,Utilities,...,Desired_Savings,Disposable_Income,Potential_Savings_Groceries,Potential_Savings_Transport,Potential_Savings_Eating_Out,Potential_Savings_Entertainment,Potential_Savings_Utilities,Potential_Savings_Healthcare,Potential_Savings_Education,Potential_Savings_Miscellaneous
0,44637.249636,0,13391.174891,0.000000,2206.490129,6658.768341,2636.970696,1651.801726,1536.184255,2911.792231,...,6200.537192,11265.627707,1685.696222,328.895281,465.769172,195.151320,678.292859,67.682471,0.000000,85.735517
1,26858.596592,2,5371.719318,0.000000,869.522617,2818.444460,1543.018778,649.378103,1050.241738,1626.143346,...,1923.176434,9676.818733,540.306561,119.347139,141.866089,234.131168,286.668408,6.603212,56.306874,97.388606
2,50367.605084,1,7555.140763,4612.103386,2201.800050,6313.222081,3221.396403,1513.814376,1723.306926,3368.457108,...,7050.360422,13891.450624,1466.073984,473.549752,410.857129,459.965256,488.383423,7.290892,106.653597,138.542422
3,101455.600247,0,15218.340037,6809.441427,4889.418087,14690.149363,7106.130005,5040.249158,2858.194240,6128.550387,...,16694.965136,31617.953615,1875.932770,762.020789,1241.017448,320.190594,1389.815033,193.502754,0.000000,296.041183
4,24875.283548,4,4975.056710,3112.609398,635.907170,3034.329665,1276.155163,692.827225,660.186852,1092.689024,...,1874.099434,6265.700532,788.953124,68.160766,61.712505,187.173750,194.117130,47.294591,67.388120,96.557076

1. Measure of Central Dependency

In [ ]:
#1.Mean

mean_value = num_df.mean().round()
print(mean_value)

Income                             41585.0
Dependents                             2.0
Rent                                9115.0
Loan_Repayment                      2050.0
Insurance                           1455.0
Groceries                           5206.0
Transport                           2704.0
Eating_Out                          1462.0
Entertainment                       1449.0
Utilities                           2505.0
Healthcare                          1663.0
Education                           2498.0
Miscellaneous                        831.0
Desired_Savings_Percentage            10.0
Desired_Savings                     4983.0
Disposable_Income                  10647.0
Potential_Savings_Groceries          912.0
Potential_Savings_Transport          473.0
Potential_Savings_Eating_Out         255.0
Potential_Savings_Entertainment      254.0
Potential_Savings_Utilities          436.0
Potential_Savings_Healthcare          42.0
Potential_Savings_Education           62.0
Potential_Savings_Miscellaneous      145.0
dtype: float64

In [ ]:
#Median
median_value = num_df.median().round()
print(median_value)

Income                             30185.0
Dependents                             2.0
Rent                                6403.0
Loan_Repayment                         0.0
Insurance                           1017.0
Groceries                           3741.0
Transport                           1934.0
Eating_Out                          1029.0
Entertainment                       1020.0
Utilities                           1766.0
Healthcare                          1189.0
Education                           1702.0
Miscellaneous                        579.0
Desired_Savings_Percentage             9.0
Desired_Savings                     2155.0
Disposable_Income                   7225.0
Potential_Savings_Groceries          607.0
Potential_Savings_Transport          307.0
Potential_Savings_Eating_Out         165.0
Potential_Savings_Entertainment      165.0
Potential_Savings_Utilities          286.0
Potential_Savings_Healthcare          25.0
Potential_Savings_Education           33.0
Potential_Savings_Miscellaneous       93.0
dtype: float64

In [ ]:
print(len(num_df[num_df['Loan_Repayment']==0]))

12031

In [ ]:
#Mode
mode_value = num_df.mode(axis=0).iloc[0]
print(mode_value)

Income                             1301.187333
Dependents                            0.000000
Rent                                235.365692
Loan_Repayment                        0.000000
Insurance                            30.002012
Groceries                           154.078240
Transport                            81.228584
Eating_Out                           39.437523
Entertainment                        45.421469
Utilities                            75.429414
Healthcare                           53.500761
Education                             0.000000
Miscellaneous                        20.503223
Desired_Savings_Percentage            5.000042
Desired_Savings                       0.000000
Disposable_Income                 -5400.788673
Potential_Savings_Groceries          16.575501
Potential_Savings_Transport           8.268076
Potential_Savings_Eating_Out          3.797926
Potential_Savings_Entertainment       3.121610
Potential_Savings_Utilities           6.200297
Potential_Savings_Healthcare          0.001238
Potential_Savings_Education           0.000000
Potential_Savings_Miscellaneous       2.091973
Name: 0, dtype: float64

3. Measure of Dispersion

In [ ]:
range_val = num_df.max() - num_df.min()
range_val

Income                             1.078427e+06
Dependents                         4.000000e+00
Rent                               2.157103e+05
Loan_Repayment                     1.230807e+05
Insurance                          3.870493e+04
Groceries                          1.196628e+05
Transport                          8.178027e+04
Eating_Out                         3.436666e+04
Entertainment                      3.862195e+04
Utilities                          5.365001e+04
Healthcare                         3.594803e+04
Education                          8.166509e+04
Miscellaneous                      1.583586e+04
Desired_Savings_Percentage         1.999873e+01
Desired_Savings                    2.455045e+05
Disposable_Income                  3.824610e+05
Potential_Savings_Groceries        3.487807e+04
Potential_Savings_Transport        1.226499e+04
Potential_Savings_Eating_Out       5.569239e+03
Potential_Savings_Entertainment    6.219079e+03
Potential_Savings_Utilities        8.075599e+03
Potential_Savings_Healthcare       1.394530e+03
Potential_Savings_Education        3.647244e+03
Potential_Savings_Miscellaneous    4.635859e+03
dtype: float64

In [ ]:
#variance

var =num_df.var()
var

Income                             1.601163e+09
Dependents                         2.009634e+00
Rent                               8.564074e+07
Loan_Repayment                     1.833373e+07
Insurance                          2.228865e+06
Groceries                          2.536083e+07
Transport                          7.109399e+06
Eating_Out                         2.195319e+06
Entertainment                      2.217178e+06
Utilities                          6.365438e+06
Healthcare                         2.650915e+06
Education                          9.600319e+06
Miscellaneous                      7.140587e+05
Desired_Savings_Percentage         1.524011e+01
Desired_Savings                    5.980653e+07
Disposable_Income                  1.378426e+08
Potential_Savings_Groceries        1.079282e+06
Potential_Savings_Transport        2.886084e+05
Potential_Savings_Eating_Out       8.764438e+04
Potential_Savings_Entertainment    8.998415e+04
Potential_Savings_Utilities        2.532109e+05
Potential_Savings_Healthcare       2.825184e+03
Potential_Savings_Education        9.769871e+03
Potential_Savings_Miscellaneous    2.861543e+04
dtype: float64

In [ ]:
#Standard Deviation

std_value = num_df.std()
std_value

Income                             40014.540538
Dependents                             1.417616
Rent                                9254.228188
Loan_Repayment                      4281.789941
Insurance                           1492.938435
Groceries                           5035.953689
Transport                           2666.345648
Eating_Out                          1481.660811
Entertainment                       1489.019270
Utilities                           2522.981880
Healthcare                          1628.163024
Education                           3098.438166
Miscellaneous                        845.019922
Desired_Savings_Percentage             3.903858
Desired_Savings                     7733.468188
Disposable_Income                  11740.637289
Potential_Savings_Groceries         1038.884968
Potential_Savings_Transport          537.222853
Potential_Savings_Eating_Out         296.047943
Potential_Savings_Entertainment      299.973590
Potential_Savings_Utilities          503.200658
Potential_Savings_Healthcare          53.152458
Potential_Savings_Education           98.842656
Potential_Savings_Miscellaneous      169.160951
dtype: float64

In [ ]:
#IQR

Q1 = num_df.quantile(0.25)
Q3 = num_df.quantile(0.75)

IQR = Q3 - Q1
IQR

Income                             34160.570502
Dependents                             2.000000
Rent                                7614.518246
Loan_Repayment                      2627.142320
Insurance                           1206.956146
Groceries                           4305.466299
Transport                           2236.019495
Eating_Out                          1226.063450
Entertainment                       1208.471175
Utilities                           2086.052943
Healthcare                          1372.717837
Education                           2700.022952
Miscellaneous                        701.568122
Desired_Savings_Percentage             4.936747
Desired_Savings                     4991.376973
Disposable_Income                   9557.056393
Potential_Savings_Groceries          810.870836
Potential_Savings_Transport          426.505851
Potential_Savings_Eating_Out         228.891370
Potential_Savings_Entertainment      226.365846
Potential_Savings_Utilities          390.970085
Potential_Savings_Healthcare          41.316315
Potential_Savings_Education           76.019935
Potential_Savings_Miscellaneous      130.620674
dtype: float64

Shape of Distribution

In [ ]:
skewness = num_df.skew()
skewness

Income                             4.232803
Dependents                        -0.000117
Rent                               4.150531
Loan_Repayment                     5.099544
Insurance                          4.513667
Groceries                          3.960422
Transport                          4.736227
Eating_Out                         3.887579
Entertainment                      4.665013
Utilities                          4.347142
Healthcare                         3.883214
Education                          4.307865
Miscellaneous                      3.798297
Desired_Savings_Percentage         1.421412
Desired_Savings                    5.585197
Disposable_Income                  5.069602
Potential_Savings_Groceries        5.365886
Potential_Savings_Transport        4.364978
Potential_Savings_Eating_Out       4.228699
Potential_Savings_Entertainment    4.652173
Potential_Savings_Utilities        4.227651
Potential_Savings_Healthcare       4.828418
Potential_Savings_Education        7.364094
Potential_Savings_Miscellaneous    4.590060
dtype: float64

In [ ]:
#kurtosis

kurtosis = num_df.kurtosis()
kurtosis

Income                              45.872635
Dependents                          -1.305929
Rent                                36.730159
Loan_Repayment                      60.026947
Insurance                           50.152747
Groceries                           36.513147
Transport                           63.755707
Eating_Out                          32.079416
Entertainment                       51.891192
Utilities                           42.614593
Healthcare                          31.646868
Education                           47.363108
Miscellaneous                       29.469962
Desired_Savings_Percentage           2.308343
Desired_Savings                     74.546026
Disposable_Income                   76.816341
Potential_Savings_Groceries         83.995985
Potential_Savings_Transport         40.553788
Potential_Savings_Eating_Out        34.630229
Potential_Savings_Entertainment     42.740558
Potential_Savings_Utilities         31.712442
Potential_Savings_Healthcare        52.574632
Potential_Savings_Education        147.867594
Potential_Savings_Miscellaneous     50.721792
dtype: float64